/* 공통 class */

.d-flex{
    display: flex;
}
.d-block{
    display: block;
}

.p-abs{
    position: absolute;
}
.p-rel{
    position: relative;
}

.bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}
.bg-blue{
    background-color: blue;
}
.w-1200{
    width: 1200px;
}
.text-center{
    text-align: center;
}
/* ********* */
*{
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


.H-container{
    justify-content: space-between;
}

.M-container{
    float: right;
    width: 1000px;
    height: 100px;
}

.logoBox{
    float:left;
    width: 200px;
    height: 100px;
}
.H-logo{
    width: 200px;
    height: 100px;
}
ul.d1{
    width: 800px;
    left: 100px;
    top: 25px;
}

ul.d2{
    display: none;
}