/* 공통 class */
*{margin: 0; padding: 0;}
a{text-decoration: none ; color: #222;}
li{list-style: none;}

:root{
    --abwidth : 1200px; /*A,B형 컨테이너*/
    --cwidth : 1000px; /*C형 컨테이너*/
}
.container{
    width: var(--abwidth);
}
.m-auto{
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.d-block{
    display: block;
}
.d-none{
    display: none;
}
.b-top{
    border-top:2px solid black ;
}
.b-bottom{
    border-bottom: 2px solid black;
}

.abs{
    position: absolute;
}
.rel{
    position: relative;
}

.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}

.bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}
.bg-blue{
    background-color: blue;
}
.w-100{
    width: 100%
}
.text-center{
    text-align: center;
}

.h100{ 
    height: 100px;
}
.h200{
    height: 200px;
}
.h300{
    height: 300px;
}
/*layout*/
#hd .d1a{
    line-height: 60px; 
    font-size: 26px; 
    min-width: 120px;
    text-align: center;
}
#hd {align-items: end;}
#gnb .d1li:hover .d1a{
    color: white;
    background-color: green;}
.d2ul {
    height: 0; 
    overflow: hidden;
    background-color: green;
    transition: height 0.5s;
    font-size: 18px;
    line-height: 2;
    left: 0; right: 0;
    top: 100%;
    min-width: 120px;
    text-align: center;  
    }

#gnb:hover .d2ul {
    height: 180px;
    z-index: 9999;
} 
#gnb:after{content: '';
    position: absolute;
    background-color: green;
    top: 100px; left: 0; right: 0;
    height: 0px; transition: height 0.5s;}
#gnb:hover:after{
    height: 180px;
}

.d2ul a{color: white;}
.d2ul li:hover{background-color: white;}
.d2ul li:hover a {color: black;}

